.banner{
    width:100% ;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slidre{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% -100px);
    transform-style:preserve-3d ;
}
.banner .slidre .items {
    position: absolute;
    inset: 0 0 0 0;
}
.banner .slidre .items img{
    width:100% ;
    height: 100%;
    object-fit: cover;
}